.layui-table thead tr{
	    background-color: #009688;
        color: #fff;
}
.layui-form-item{
	margin-top:15px ;
}
.layui-form-pane .layui-form-label {
	    border-style: none; 
}
.layui-table-header{
	 background-color: #009688;
}
.layui-table-view{
	margin-left: 40px;
	margin-top: 30px;
}
.layui-btn{
	margin-top:20px ;
}
.layui-bg-black{
	background-color:#0087b4!important;
}
.demoTable{
	margin-left: 40px;
	margin-top: 30px;
}
.demoTable >.layui-btn{
	margin-top: 0;
}
.insert{
	float: left;
}
.layui-btn-xs{
	margin-top: 0;
}

